@import "../../styles/variables";
@import "src/styles/commonStyles";

.mainSection {
  width: 100vw;
  height: auto;
  padding: 40px 85px;
  background-color: $backgroundWhite;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .blockquoteContainer {
      margin-bottom: 35px;

      blockquote {
        font-style: italic;
        font-size: 24px;
        color: $grayText;
      }
    }

    .inputContainer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 35px;

      input {
        width: 800px;
        padding: 20px;
        margin-right: 15px;
        border-radius: 30px;
        font-size: 20px;
        outline: none;
        border: 1px solid $grayBorder;
        color: $grayText;

        &::placeholder {
          color: $grayBorder;
        }

        &:hover,
        &:focus,
        &:active {
          background-color: $backgroundWhite;
        }
      }

      svg {
        width: 35px;
        height: 35px;
        cursor: pointer;
        color: $grayBorder;
      }

      .rules {
        padding: 15px;

        h3 {
          margin-bottom: 10px;
          text-align: center;
        }

        ul {
          list-style: none;
        }
      }
    }

    .buttonContainer {
      margin-bottom: 50px;

      button {
        @include buttonStyles;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .divider {
      width: 5px;
      height: 600px;
      background-color: $secondaryColor;
    }
  }
}
