@import "src/styles/variables";

.container {
  margin-top: 35px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .arrowBtn {
    position: absolute;
    top: 10px;
    left: 40px;

    svg {
      width: 60px;
      height: 60px;
      color: $secondaryColor;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.7;
      }
    }
  }
}
