@import "../../styles/variables";
@import "src/styles/commonStyles";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;

    h2 {
      margin-right: 15px;
      font-size: 32px;
      font-weight: normal;
      color: $secondaryColor;
    }

    .iconContainer {
      cursor: pointer;

      svg {
        width: 32px;
        height: 32px;
        color: $secondaryColor;

        &:hover {
          opacity: 0.7;
        }
      }

      .addStoryModal {
        display: flex;
        flex-direction: column;
        padding: 15px;

        h3 {
          text-align: center;
          margin-bottom: 15px;
        }

        textarea {
          margin-bottom: 15px;
          padding: 20px;
          border-radius: 30px;
          font-size: 20px;
          outline: none;
          border: 1px solid $grayBorder;
          color: $grayText;
        }

        button {
          align-self: center;
          @include buttonStyles;
        }
      }
    }

  }

  a {
    font-size: 20px;
    text-decoration: none;
    color: $secondaryColor;

    &:hover {
      opacity: 0.7;
    }
  }
}
